<?xml version="1.0" encoding="UTF-8"?>
<suite name="testsuite">
    <test name="testcases">
        <classes>
            <class name="restapi.TC01_Get_Request" />
            <class name="restapi.TC02_Post_Request" />
            <class name="restapi.TC03_Put_Request" />
            <class name="restapi.TC04_Patch_Request" />
            <class name="restapi.TC05_Delete_Request" />
        </classes>
    </test>
</suite>